@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
	background:               $dark-background,
	status-bar:               $dark-bg-lighter-20,
	app-bar:                  $dark-bg-lighter-5,
	hover:                    $light-bg-alpha-4,
	card:                     $dark-bg-lighter-5,
	dialog:                   $dark-bg-lighter-5,
	tooltip:                  $dark-bg-lighter-20,
	disabled-button:          $light-bg-alpha-12,
	raised-button:            $dark-bg-lighter-5,
	focused-button:           $light-focused,
	selected-button:          $dark-bg-lighter-20,
	selected-disabled-button: $dark-bg-lighter-30,
	disabled-button-toggle:   $dark-bg-lighter-10,
	unselected-chip:          $dark-bg-lighter-20,
	disabled-list-option:     $dark-bg-lighter-10,
);

// Theme Config

body {
	--primary-color: #00adb5;
	--primary-lighter-color: #b3e6e9;
	--primary-darker-color: #00939d;
	--text-primary-color: #{$light-primary-text};
	--text-primary-lighter-color: #{$dark-primary-text};
	--text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
	main: #00adb5,
	lighter: #b3e6e9,
	darker: #00939d,
	200: #00adb5, // For slide toggle,
	contrast : (
		main: $light-primary-text,
		lighter: $dark-primary-text,
		darker: $light-primary-text,
	)
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
	--accent-color: #222831;
	--accent-lighter-color: #bdbfc1;
	--accent-darker-color: #14181f;
	--text-accent-color: #{$light-primary-text};
	--text-accent-lighter-color: #{$dark-primary-text};
	--text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
	main: #222831,
	lighter: #bdbfc1,
	darker: #14181f,
	200: #222831, // For slide toggle,
	contrast : (
		main: $light-primary-text,
		lighter: $dark-primary-text,
		darker: $light-primary-text,
	)
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
	--warn-color: #ff7878;
	--warn-lighter-color: #ffd7d7;
	--warn-darker-color: #ff5b5b;
	--text-warn-color: #{$dark-primary-text};
	--text-warn-lighter-color: #{$dark-primary-text};
	--text-warn-darker-color: #{$dark-primary-text};
}

$mat-warn: (
	main: #ff7878,
	lighter: #ffd7d7,
	darker: #ff5b5b,
	200: #ff7878, // For slide toggle,
	contrast : (
		main: $dark-primary-text,
		lighter: $dark-primary-text,
		darker: $dark-primary-text,
	)
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
	@include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

* {
	font-family: 'Lato', sans-serif;
	color: $light-primary-text;
}

html, body {
	background-color: $dark-background;
}

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
	padding: 0 1.15em;
	margin: 0 .65em;
	min-width: 3em;
	line-height: 36.4px
}

.mat-standard-chip {
	padding: .5em .85em;
	min-height: 2.5em;
}

